version: '3.8'
services:
  runtime:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: always
    environment:
      # Передаем пароль приложению, чтобы оно могло подключиться
      - REDIS_PASSWORD=StrongPassword123
  redis:
    image: "redis:alpine"
    # ПОРТЫ УБРАНЫ. Теперь Redis доступен только внутри сети докера (для контейнера runtime)
    # Добавлена авторизация через --requirepass
    command: redis-server --requirepass StrongPassword123
    restart: always
